{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="titles">My Listings</h2>
    <div id="container">
        {% for product in my_listings %}
            {% if product.active %}
                <a href="{% url 'product' product.id %}">
                    <div class="item">
                        <div class="image">
                            <img class="index_image" src="{{ product.image_url }}" alt="{{ product.title }}">
                        </div>
                        <div>
                            <p><bold>{{ product.title }}: U$ {{ product.current_bid }}</bold></p>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% empty %}
            <li>You don't have products in your Watchlist</li>
        {% endfor %}
{% endblock %}